body {
  text-align: center;
  font-family: Arial;
  margin-top: 100px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}




input {
  padding: 10px;
  width: 250px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container {
  background-color: rgb(4, 253, 224);
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.button-group {
  margin-top: 20px;
}